.hidden {display: none;}
button {margin-right: 15px;}

.btn-actions {margin-top: 5px; margin-bottom: 15px;}
.card-title{ margin-bottom: 15px;}

a.a-headers{ margin-right: 15px; text-decoration: none;}
i.i-headers{ margin-right: 15px;}

.form-group{margin-top: 8px;}

label{color: blue; text-decoration: solid;}
